<br/><br/>
<img src="img/nav/avater.jpg" class="img-responsive" alt="Yixuan Li"/>
<ul class="nav navbar-inverse">
  <li>
    <a href="index.html">Home</a>
  </li>
  <li>
    <a href="research.html">Research</a>
  </li>
  <!-- <li>
    <a href="awards&honors.html">Awards&Honors</a>
  </li> -->
  <!-- <li>
    <a href="academic.html">Research</a>
  </li> -->
  <!-- <li>
    <a href="datacode.html">Data & Code</a>
  </li> -->
  <!-- <li>
    <a href="technique.html">Techinque</a>
  </li> -->
  <!-- <li>
    <a href="misc.html">Misc</a>
  </li> -->
</ul>
